/* .ReactCVS {
	position: absolute;
    top: 4px;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #060ebb;
    transition: 0.5s;
   
}
 .download-btn{
    color: #060ebb;
}

.ReactCVS:hover{
    background-color: #4bb7c4;
    color: white;
}
.download-btn:hover{
    color: white;
}  */